.div-left{float:left;width:100%;height:100%;border:1px solid #F00}
.div-Absolute-Centering{float:left;width:100%;height:100%;border:1px solid #F00} 
.div-bottom{float:bottom;width:100%;height:100%;border:1px solid #F00}
div#container{display: table;}